* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: 600px;
}
.square {
    flex: 1 1 0;
    aspect-ratio: 1/1;
}
